body{
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #374151;
}

.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 72px;
}

.logo{
	display: flex;
	align-items: center;
	gap: 11px;
}

.logo p{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #fff;
}

.logo__h1{
	width: 35px;
	height: 35px;
	background-color: #4B5563;
	color: #fff;
	text-align: center;
}

.menu{
	margin-right: 100px;
}

.menu ul{
	display: flex;
	justify-content: center;
	gap: 52px;
	list-style: none;
}

.menu a{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}


.search input{
	width: 224px;
	height: 40px;
	background-color: #1F293799;
	border: none;
	border-radius: 100px;
	padding: 10px;
}

.main__block{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.main__h1{
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-size:14px;
	text-align: center;
	margin-top: 80px;
}

.main__h2{
	width: 525px;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	color: #fff;	
	margin-top: 14px;
	text-align: center;
}

.main__block-contact{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 55px;
	gap: 16px;
}

.block__contact-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.block__contact-title h1{
	font-family: "Roboto", sans-serif;
	font-size:16px ;
	color: #fff;
	margin-top: 10px;
}
.block__contact-title p{
	font-family: "Roboto", sans-serif;
	font-size:14px ;
	color: #fff;
	margin-top: -10px;
}

.blog__img{
	display: flex;
	justify-content: center;
}

.blog__img img{
	width: 896px;
	height: 594px;
	margin-top: 28px;
	border-radius: 5px;
}

.box__title{
	max-width: 708px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 69px;
}

.box__title p{
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: #fff;
	line-height: 30px;
}

.footer p{
	font-family: "Roboto", sans-serif;
	margin-top: 103px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin-bottom: 77px;
}